<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="connectionString" connectionString="SERVER=localhost;DATABASE=MU_DOWNLOAD_MANAGER;UID=root;PASSWORD=Manu7084@;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>